# MongoDB
MONGODB_URI=mongodb://localhost:27017/cr_mls

# PayPal
PAYPAL_CLIENT_ID=ASmvU1Q4s4Usoe7eDuwmVyWC6I1H-O7Sm10dy2bv5Al2rUq824OVmCezuLQ6MsAEdf-oLqTegFCRrduA
PAYPAL_CLIENT_SECRET=EKPBa8GxToOPkrpF7vMwJKMfaIlMFkJZw6CcYMJ96SgI83ntvTYn3TPoMi80FvBSyoqfU19cnI3hhMfy
PAYPAL_ENVIRONMENT=sandbox  # or 'live' for production
PAYPAL_WEBHOOK_ID=your_webhook_id

# Polygon
POLYGON_RPC=https://polygon-rpc.com
CONTRACT_ADDRESS=0xYourContractAddress
PRIVATE_KEY=your_private_key

# Webhook security
